services:
  express-app:
    build:
      context: .
      dockerfile: dockerfile
    depends_on:
      - postgres
    ports:
      - "3001:3001"
    volumes:
      - .:/app
      - /app/node_modules
  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: expressdb
      POSTGRES_USER: oli98
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: