services:
  test-express-app:
    build:
      context: .
      dockerfile: dockerfile
    depends_on:
      - test-postgres
    ports:
      - "3001:3001"
    volumes:
      - .:/app
      - /app/node_modules
  test-postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: test
      POSTGRES_USER: prisma
      POSTGRES_PASSWORD: prisma
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: