services:
  express-app:
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
    volumes:
      - .:/app
      - /app/node_modules